.loadingOverlay {
  width: 100%;
  position: absolute;

  &-content {
    width: 300px;
    margin: 10em auto;
    text-align: center;
    background-color: white;
    border: 1px solid black;
    padding: 1em;

    &-error {
      color: #800;
    }
  }
}
